@charset "utf-8";

.error {
    border: 1px solid #f00;
    padding: 2px;
}

.error-inline {
    color: #ff5d5d;
    margin: 0 5px;
}

.error-inline::before {
    content: 'x';
    background-color: #ff5d5d;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 10px;
    text-align: center;
    font-size: 12px;
    border-radius: 7px;
    overflow: hidden;
    color: #fff;
    margin-right: 5px;
}

.warn {
    border: 1px solid #ffdc2c;
    padding: 2px;
}

.warn-inline {
    color: #ffdc2c;
    margin: 0 5px;
}

.warn-inline::before {
    content: '!';
    background-color: #ffdc2c;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    border-radius: 7px;
    overflow: hidden;
    color: #fff;
    margin-right: 5px;
}

.success {
    border: 1px solid #11cd6d;
    padding: 2px;
}

.success-inline {
    color: #11cd6d;
    margin: 0 5px;
}

.success-inline::before {
    content: '√';
    background-color: #11cd6d;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    border-radius: 7px;
    overflow: hidden;
    color: #fff;
    margin-right: 5px;
}

.tips {
    border: 1px solid #c6c6c6;
    padding: 2px;
}

.tips-inline {
    color: #c6c6c6;
    margin: 0 5px;
}

.tips-inline::before {
    content: 'i';
    background-color: #c6c6c6;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 12px;
    border-radius: 7px;
    overflow: hidden;
    line-height: 14px;
    color: #fff;
    margin-right: 5px;
}

.inline-left {

    margin: 0 5px;

}

.inline-right {
    /** left,top 需要动态设置**/
    /* left: 200px;
    top: 10px; */
    margin: 0 5px;
    position: absolute;
}


